<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008-2012 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<%#
	Material is a clean HTML5 theme for LuCI. It is based on luci-theme-bootstrap and MUI

	luci-theme-material
	Copyright 2015 Lutty Yang <lutty@wcan.in>

	Have a bug? Please create an issue here on GitHub!
	https://github.com/LuttyYang/luci-theme-material/issues

	luci-theme-bootstrap:
	Copyright 2008 Steven Barth <steven@midlink.org>
	Copyright 2008 Jo-Philipp Wich <jow@openwrt.org>
	Copyright 2012 David Menting <david@nut-bolt.nl>

	MUI:
	https://github.com/muicss/mui

	Licensed to the public under the Apache License 2.0
-%>

<%
	local ver = require "luci.version"
	local sys  = require "luci.sys"
	local util = require "luci.util"
	local http = require "luci.http"
	local disp = require "luci.dispatcher"

	local boardinfo = util.ubus("system", "board")

	local request  = disp.context.path
	local request2 = disp.context.request

	local category = request[1]
	local cattree  = category and disp.node(category)

	local leaf = request2[#request2]

	local tree = disp.node()
	local node = disp.context.dispatched

	local categories = disp.node_childs(tree)

	local c = tree
	local i, r

	-- tag all nodes leading to this page
	for i, r in ipairs(request) do
		if c.nodes and c.nodes[r] then
			c = c.nodes[r]
			c._menu_selected = true
		end
	end
    
    -- send as HTML5
	http.prepare_content("text/html")

	local function nodeurl(prefix, name, query)
		local url = controller .. prefix .. name .. "/"
		if query then
			url = url .. http.build_querystring(query)
		end
		return pcdata(url)
	end

	local function subtree(prefix, node, level)
		if not level then
			level = 1
		end

		local childs = disp.node_childs(node)
		if #childs > 0 then
        
            if level > 2 then
%>
	<ul class="tabs">
		<%  
            end

			local selected_node
			local selected_name
			local i, v

			for i, v in ipairs(childs) do
				local nnode = node.nodes[v]
				if nnode._menu_selected then
					selected_node = nnode
					selected_name = v
				end
                if level > 2 then
		%>
			<li class="tabmenu-item-<%=v%><%- if nnode._menu_selected or (node.leaf and v == leaf) then %> active<% end %>">
			    <a href="<%=nodeurl(prefix, v, nnode.query)%>"><%=striptags(translate(nnode.title))%></a>
			</li>
		<%      end
			end
            
            if level > 2 then
		%>
	</ul>
<%          end

			if selected_node then
				subtree(prefix .. selected_name .. "/", selected_node, level + 1)
			end
		end
	end
-%>
<!DOCTYPE html>
<html lang="<%=luci.i18n.context.lang%>">
<head>
    <meta charset="utf-8">
    <title><%=striptags( (boardinfo.hostname or "?") .. ( (node and node.title) and ' - ' .. translate(node.title) or '')) %> - LuCI</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta name="format-detection" content="telephone=no, email=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta name="x5-page-mode" content="app">
    <meta name="browsermode" content="application">
    <meta name="theme-color" content="#0099CC">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="msapplication-TileColor" content="#0099CC">
    <meta name="msapplication-TileImage" content="<%=media%>/logo.png"/>
    <link rel="stylesheet" href="<%=media%>/css/style.css?<%= ver.luciversion %>">
    <link rel="shortcut icon" href="<%=media%>/favicon.ico">
    <% if node and node.css then %>
        <link rel="stylesheet" href="<%=resource%>/<%=node.css%>">
    <% end -%>
    <% if css then %>
        <style title="text/css">
            <%-= css %>
        </style>
    <% end -%>
    <script src="<%=resource%>/xhr.js"></script>
</head>

<body class="lang_<%=luci.i18n.context.lang%> <%- if node then %><%= striptags( node.title ) %><%- end %>">


<div>
	<div>
		 <div class="darkMask"></div>
		 <div id="maincontent">
			 <div class="login-container">
				<div class="logo"><img src="<%=media%>/images/logo.png" alt=""></div>
				<div class="orange-bg">
					<div class="img-section">
						<img src="<%=media%>/images/isg.png" alt="">
					</div>
					<div class="text-section">
						<p id="text1"></p>
					</div>
				</div>
				<div class="red-bg">
				<form class="login-form" method="post" action="<%=pcdata(luci.http.getenv("REQUEST_URI"))%>">			
				<%- if luci.sys.process.info("uid") == 0 and luci.sys.user.getuser("root") and not luci.sys.user.getpasswd("root") then -%>
					<div class="alert-message warning">
						<h4><%:No password set!%></h4>
						<%:There is no password set on this router. Please configure a root password to protect the web interface and enable SSH.%><br>						 
					</div>
				<%- end -%>
					<%- if fuser then %>
					<div class="error"><%:Invalid username and/or password! Please try again.%></div>
					<br />
					<% end -%>
					<div class="form-group user_name">
						<label>
							<img src="<%=media%>/images/user.png" alt="" class="form-img">
							<p id="usertext"></p>
						</label>
						<input type="text" name="luci_username" value="<%=duser%>">
					</div>
					<div class="form-group pssword_field">
						<label>
							<img src="<%=media%>/images/password.png" alt="" class="form-img">
							<p id="passtext"></p>
						</label>
						<input  type="password" name="luci_password">
					</div>
					<div class="login-btn">
						<input type="submit" class="btn btn-login" value="Enter">
					</div>
				</form>
			</div>
<div class="cpy-text">
				<p>Copryright © 2015-16 casacom solutions AG</p>
			</div>

<script type="text/javascript">//<![CDATA[
	var input = document.getElementsByName('luci_username')[0];
	if (input)
		input.focus();
//]]></script>

<script type="text/javascript">
function language() {
	var lang=<%=luci.http.write_json(luci.sys.exec("echo -n `uci get luci.main.lang`"))%>
	var text=document.getElementById("text1");
	var usr=document.getElementById("usertext");
	var pass=document.getElementById("passtext");
	if (lang == "de") {
		text.innerHTML="Bitte geben Sie Benutzername und Passwort ein und klicken Sie auf 'Enter', um Optionen zu gehen";
		usr.innerHTML="Benutzername";
		usr.style.fontSize="20px"
		pass.innerHTML="Passwort";
	}
	else {
		text.innerHTML="Please enter Username and Password and click “Enter” to go to Options";
		usr.innerHTML="Username";
		pass.innerHTML="Password";
	}
}
window.onload=language
</script>

<%
local uci  = require "luci.model.uci".cursor()
local fs  = require "nixio.fs"
local https_key = uci:get("uhttpd", "main", "key")
local https_port = uci:get("uhttpd", "main", "listen_https")
if type(https_port) == "table" then
	https_port = https_port[1]
end

if https_port and fs.access(https_key) then
	https_port = https_port:match("(%d+)$")
%>

<script type="text/javascript">//<![CDATA[
	if (document.location.protocol != 'https:') {
		var url = 'https://' + window.location.hostname + ':' + '<%=https_port%>' + window.location.pathname;
		var img=new Image;
		img.onload=function(){window.location = url};
		img.src='https://' + window.location.hostname + ':' + '<%=https_port%>' + '<%=resource%>/cbi/up.gif?' + Math.random();;
		setTimeout(function(){
			img.src=''
		}, 5000);
	}
//]]></script>

<% end %>

<%
	local ver = require "luci.version"
	local disp = require "luci.dispatcher"
	local request  = disp.context.path
	local category = request[1]
	local tree = disp.node()
	local categories = disp.node_childs(tree)
%>
                </div>
            </div>
        </div>

    <script src="<%=media%>/js/jquery.min.js"></script>
    <script src="<%=media%>/js/script.js?<%= ver.luciversion %>"></script>
</body>
</html>


