<!DOCTYPE html>
<html>
 <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>CasacomISG</title>

    <!-- Bootstrap -->
    <link href="<%=media%>/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="<%=media%>/css/dashboard.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	<%
	local has_wifi = false

	local uci = require("luci.model.uci").cursor()
	uci:foreach("wireless", "wifi-device", function(s)
		has_wifi = true
		return false
	end)

	local conf = require "luci.config"
	local http = require "luci.http"
	local lang = conf.main.lang or "auto"
	if lang == "auto" then
		local aclang = http.getenv("HTTP_ACCEPT_LANGUAGE") or ""
		for lpat in aclang:gmatch("[%w-]+") do
			lpat = lpat and lpat:gsub("-", "_")
			if conf.languages[lpat] then
				lang = lpat
				break
			end
		end
	end	
	%>
<script type="text/javascript">
function language() {
	var ids = new Array("settings","statistics","updates","security","dashboard","network","wifi","admin","multi-user","logout");
	var en = new Array("Settings","Statistics", "Updates","Security", "Dashboard", "Network", "WiFi", "Admin", "Multi User", "Logout");
	var es = new Array("Configuración","Estadísticas", "Actualizaciones","Seguridad", "Estado", "Red", "WiFi", "Admin", "Usuarios", "Salir");
	var de = new Array("Einstellungen","Statistiken","Aktualisierung","Sicherheit","Status","Netzwerk","W-lan","Admin","Multi User","Abmelden");
	var fr = new Array("Paramètres","statistiques","mises à jour","Sécurité","tableau de bord","réseau","WiFi","Admin","multi-utilisateurs","se déconnecter");
	var it = new Array("impostazioni","statistica","aggiornamenti","sicurezza","cruscotto","Rete","WiFi","Admin","multi utente","disconnettersi");
	var lang = "<%=lang%>";
	
	function changeText(strings)
	{
		for (var i=0; i<ids.length; i++) {
			var ele = document.getElementById(ids[i]);
			if(ele){
				ele.innerHTML = strings[i];
			}
		}
	}
	
	if (lang == "it") {
		changeText(it);
	} else if (lang == "de" ) {
		changeText(de);
	} else if (lang == "fr" ) {
		changeText(fr);
	} else if (lang == "es" ) {
		changeText(es);
	} else {
		changeText(en);
	}
}
window.onload=language;
</script>
</head>
<body>

<div class="main-section">
	<div class="login-section">
		<div class="container-main grids-container">
			<div class="logo" style="margin-top:1%;">
				<img src="<%=media%>/images/logo.png" alt="">
			</div>
			<div class="gridster">
			    <ul>
			      <li data-row="1" data-col="1" data-sizex="2" data-sizey="2"><!-- settings -->
			      	<a href="<%=luci.dispatcher.build_url("admin","system","system")%>">
				      	<div class="grid-inner color-one">
						<img src="<%=media%>/images/settings.png" alt="">
				      		<div class="grip-text">
				      			<p id="settings">Settings</p>
				      		</div>
				      	</div>
			      	</a>
			      </li>
			      <li data-row="1" data-col="2" data-sizex="2" data-sizey="<% if has_wifi then %>2<% else %>4<% end %>"><!-- dashboard -->
				    <a href="<%=luci.dispatcher.build_url("admin","status","overview")%>">
				      	<div class="grid-inner color-four">
				      		<img src="<%=media%>/images/dashboard.png" alt="">
				      		<div class="grip-text">
				      			<p id="dashboard">Dashboard</p>
				      		</div>
				      	</div>
			      	</a>
			      </li>
			      <li data-row="1" data-col="3" data-sizex="2" data-sizey="2"><!-- qos -->
				    <a href="<%=luci.dispatcher.build_url("admin","network","qos")%>">
				      	<div class="grid-inner color-five">
						<img src="<%=media%>/images/quality-icon.png" alt="">
				      		<div class="grip-text">
				      			<p><%= translate("Quality of Service") %></p>
				      		</div>
				      	</div>
			      	</a>
			      </li>
			      <li data-row="1" data-col="4" data-sizex="2" data-sizey="2"><!-- samba -->
				    <a href="<%=luci.dispatcher.build_url("admin","services","samba")%>">
				      	<div class="grid-inner color-five">
						<img src="<%=media%>/images/usb-pendrive.png" alt="">
				      		<div class="grip-text">
				      			<p><%= translate("Network Shares") %></p>
				      		</div>
				      	</div>
			      	</a>
			      </li>
			      <li data-row="2" data-col="1" data-sizex="2" data-sizey="2"><!-- Statistics -->
				      <a href="<%=luci.dispatcher.build_url("admin","status","realtime")%>">
				      	<div class="grid-inner color-two">
				      		<img src="<%=media%>/images/statistics.png" alt="">
				      		<div class="grip-text">
				      			<p id="statistics">Statistics</p>
				      		</div>
			      		</div>
			      	</a>
			      </li>
				<% if has_wifi then %>
				  <li data-row="2" data-col="1" data-sizex="2" data-sizey="2"><!-- wifi -->
				      <a href="<%=luci.dispatcher.build_url("admin","network","wireless")%>">
				      	<div class="grid-inner color-five">
				      		<img src="<%=media%>/images/wifi.png" alt="">
				      		<div class="grip-text">
				      			<p id="wifi">WiFi</p>
				      		</div>
				      	</div>
			      	</a>
			      </li>
				  <% end %>
				  <li data-row="2" data-col="3" data-sizex="2" data-sizey="2"><!-- Security -->
			      	<a href="<%=luci.dispatcher.build_url("admin","network","firewall")%>">
				      	<div class="grid-inner color-five">
				      		<img src="<%=media%>/images/security.png" alt="">
				      		<div class="grip-text">
				      			<p id="security">Security</p>
				      		</div>
				      	</div>
			      	</a>
			      </li>
			      <li data-row="2" data-col="4" data-sizex="2" data-sizey="2"><!-- Network -->
				      <a href="<%=luci.dispatcher.build_url("admin","network","network")%>">
				      	<div class="grid-inner color-five">
						<img src="<%=media%>/images/network.png" alt="">
				      		<div class="grip-text">
				      			<p id="network">Network</p>
				      		</div>
				      	</div>
			      	</a>
			      </li>


				  <%				  
					require "luci.sys"
					currUser=luci.sys.exec("echo -n `cat /tmp/user.txt`")
					if currUser == "root" then
				  %>
			      <li data-row="3" data-col="1" data-sizex="1" data-sizey="2"><!-- Admin -->
			      	<a href="<%=luci.dispatcher.build_url("admin","system","admin")%>">
				      	<div class="grid-inner color-seven">
				      		<img src="<%=media%>/images/admin.png" alt="">
				      		<div class="grip-text">
				      			<p id="admin">Admin</p>
				      		</div>
				      	</div>
			      	</a>
			      </li>
				  <li data-row="3" data-col="1" data-sizex="1" data-sizey="2"><!-- Multi User -->
			      	<a href="<%=luci.dispatcher.build_url("admin","users","users")%>">
				      	<div class="grid-inner color-seven">
				      		<img src="<%=media%>/images/users.png" alt="">
				      		<div class="grip-text">
				      			<p id="multi-user">Multi User</p>
				      		</div>
				      	</div>
			      	</a>
			      </li>
				<%else%>
			      <li data-row="3" data-col="1" data-sizex="2" data-sizey="2"><!-- Admin -->
			      	<a href="<%=luci.dispatcher.build_url("admin","users","passwd")%>">
				      	<div class="grid-inner color-seven">
				      		<img src="<%=media%>/images/admin.png" alt="">
				      		<div class="grip-text">
				      			<p id="admin">Admin</p>
				      		</div>
				      	</div>
			      	</a>
			      </li>
				  <%end%>
			      <li data-row="3" data-col="2" data-sizex="2" data-sizey="2"><!-- Updates -->
				    <a href="<%=luci.dispatcher.build_url("admin","system","flashops")%>">
				      	<div class="grid-inner color-three">
				      		<img src="<%=media%>/images/updates.png" alt="">
				      		<div class="grip-text">
				      			<p id="updates">Updates</p>
				      		</div>
				      	</div>
			      	</a>
			      </li>
			      <li data-row="5" data-col="3" data-sizex="2" data-sizey="2"><!-- Reboot -->
			      	<a href="<%=luci.dispatcher.build_url("admin","system","reboot")%>">
				      	<div class="grid-inner color-seven">
						<img src="<%=media%>/images/reboot.png" alt="" width="80px">
				      		<div class="grip-text">
				      			<p id="reboot">Reboot</p>
				      		</div>
				      	</div>
			      	</a>
			      </li>
			      <li data-row="5" data-col="4" data-sizex="2" data-sizey="2"><!-- Logout -->
			      	<a href="<%=luci.dispatcher.build_url("admin","logout")%>">
				      	<div class="grid-inner">
				      		<img src="<%=media%>/images/logout.png" alt="" width="80px">
				      		<div class="grip-text">
				      			<p id="logout">Logout</p>
				      		</div>
				      	</div>
			      	</a>
			      </li>
 			      <!--
				  <li data-row="1" data-col="7" data-sizex="2" data-sizey="2">
				    <a href="https://192.168.20.222/" target="_blank">
				      	<div class="grid-inner color-four">
				      		<img src="<%=media%>/images/home.png" alt="">
				      		<div class="grip-text">
				      			<p id="home-automation">Home Automation</p>
				      		</div>
				      	</div>
			      	</a>
			      </li>
			      <li data-row="2" data-col="3" data-sizex="2" data-sizey="2">
 			      	<a href="#">
				      	<div class="grid-inner">
				      		<img src="<%=media%>/images/camera.png" alt="">
				      		<div class="grip-text">
				      			<p>Camera</p>
				      		</div>
				      	</div>
			      	</a> 
			      </li>
			      <li data-row="2" data-col="2" data-sizex="2" data-sizey="4">
				      <a href="/mycloud">
				      	<div class="grid-inner color-two">
				      		<img src="<%=media%>/images/cloud.png" alt="">
				      		<div class="grip-text">
				      			<p id="cloud-service">Cloud Services</p>
				      		</div>
				      	</div>
			      	</a>
			      </li>
 			      <li data-row="3" data-col="4" data-sizex="2" data-sizey="1">
			      	<div class="grid-inner small-grid color-four">
			      		<div class="search-form">
			      			<form>
			      				<input type="image" src="<%=media%>/images/search.png" alt="search">
			      				<input type="text" >
			      			</form>
			      		</div>
			      		<div class="grip-text">
			      			<p id="search">Search</p>
			      		</div>
			      	</div>
			      </li>
			      <li data-row="4" data-col="1" data-sizex="1" data-sizey="1">
			      	<a href="#">
				      	<div class="grid-inner small-grid color-five">
				      		<img src="<%=media%>/images/help.png" alt="">
				      		<div class="grip-text">
				      			<p id="help">Help</p>
				      		</div>
				      	</div>
			      	</a>
			      </li>
				  -->
			    </ul>
			</div>
		</div>
	</div>
</div>
			<div class="cpy-text">
				<p>Copryright © 2015-16 casacom solutions AG</p>
			</div>
<script type="text/javascript" src="<%=media%>/js/jquery.min.js"></script>
<script type="text/javascript" src="<%=media%>/js/jquery.selectBox.js"></script>
<script type="text/javascript" src="<%=media%>/js/gridstar.js"></script>
<script type="text/javascript" src="<%=media%>/js/dashboard.js"></script>
</body>
</html>
